<div class=" flex flex-col gap-2">
    <div>{{post.postTitle}}</div>
    <div class="grid grid-cols-10">
        <div class="col-span-1  flex flex-col items-center justify-top bg-slate-300 p-2">
            <div>
                {{post.votes.length}}
            </div>
            <div>
                votes
            </div>
        </div>

        <div class="col-span-9 bg-slate-700 flex flex-col justify-start p-2">
            {{post.message}}

            <div>last edited on {{post.edit_time}}</div>
        </div>
    </div>
    <div class="grid grid-cols-10">
        <div class="col-span-1"></div>
        <div class="col-span-9 flex flex-col gap-2">
            <app-comment-card *ngFor="let comment of post.comments" [comment]="comment"></app-comment-card>
        </div>
    </div>

</div>