<div class="flex justify-center items-center h-screen w-screen bg-[url('https://wallpaperset.com/w/full/b/d/3/383756.jpg')] bg-contain">
    <form [formGroup]="formGroup" (ngSubmit)="submitForm()" class=" p-5 h-1/3 flex flex-col justify-between rounded-xl shadow-xl shadow-yellow-600" [formGroup]="formGroup" (ngSubmit)="submitForm()">
        <h1 class="text-center text-xl">REGISTER</h1>
        <label class="grid grid-cols-2 bg-green-300 rounded-sm text-yellow-700 bg-opacity-60">
          Username:
          <input class="bg-opacity-60 bg-black text-slate-200 rounded-sm" type="text" formControlName="name" />
        </label>
        <br />
        <label class="grid grid-cols-2 bg-green-300 rounded-sm text-yellow-700  bg-opacity-60">
          Email:
          <input class="bg-opacity-60 bg-black text-slate-200 rounded-sm" type="email" formControlName="email" />
        </label>
        <br />
        <label class="grid grid-cols-2 bg-green-300 rounded-sm text-yellow-700  bg-opacity-60">
          Password:
          <input class="bg-opacity-60 bg-black text-slate-200 rounded-sm" type="password" formControlName="password" />
        </label>
        <br />
        <label class="grid grid-cols-2 bg-green-300 rounded-sm text-yellow-700  bg-opacity-60">
          Confirm Password:
          <input class="bg-opacity-60 bg-black text-slate-200 rounded-sm foc" type="password" formControlName="password" />
        </label>
        <br />
        <div class="flex justify-between">
            <a class="text-blue-500 hover:underline underline-offset-4" routerLink="/login">Already have account?</a>
            <button class="bg-blue-400 w-fit p-2 rounded-lg bg-opacity-60 hover:scale-110 cursor-pointer hover:shadow-md hover:shadow-blue-700 transition duration-200 ease-in-out" type="submit" [disabled]="formGroup.invalid">Submit</button>
        </div>
        
    </form>
</div>

