<div class="grid grid-cols-10 cursor-pointer" (click)="postClick()">
    <div class="col-span-1  flex flex-col items-center justify-center bg-slate-300 p-2">
        <div>
            {{post.votes.length}}
        </div>
        <div>
            votes
        </div>
    </div>
    <div class="col-span-1 flex flex-col  items-center justify-center  bg-slate-500 p-2">
        <div>
            {{post.comments.length}}
        </div>
        <div>
            comments
        </div>
    </div>
    <div class="col-span-8 bg-slate-700 flex flex-col justify-start p-2">
        <div>{{post.postTitle}}</div>
        <div>last edited on {{post.edit_time}}</div>
    </div>
</div>