<div class="grid grid-rows-5 h-screen w-screen">
    <div class="grid grid-cols-3 row-span-1 w-full">
        <div class="bg-slate-300 col-span-1">
            {{user.username}}
            {{user.email}}
            Picture:
        </div>
        <div class="bg-slate-400 col-span-2 w-full">
            {{user.signature}}
            {{user.builds.length}}
            {{user.teams.length}}
            {{user.posts.length}}
            {{user.comments.length}}
        </div>
    </div>
    <div class="bg-slate-500 row-span-2 grid grid-cols-5 items-center gap-2">
        <Button (click)="newBuild()" class="text-9xl border-2 border-white p-2">+</Button>
        <app-build-card *ngFor="let build of user.builds" [builds]="build"></app-build-card>
    </div>
    <div class="bg-slate-700 row-span-2">
        teams
    </div>
</div>