<div class="grid grid-rows-5 h-screen w-screen">
    <div class="grid grid-cols-3 row-span-1 w-full">
        <div class="bg-slate-300 col-span-1 flex flex-col gap-2 p-2">
            <div>
                <div>user</div>
                <div>{{user.username}}</div>
            </div>
            <div>
                <div>email</div>
                <div>{{user.email}}</div>
            </div>
            <div>
                <div>signature</div>
                <div (click)="editSignature()" class="border-orange-200 border-2 h-full">{{user.signature}}</div>
            </div>
        </div>
        <div class="grid grid-cols-2 grid-rows-2 bg-slate-400 col-span-2 w-full">
            <div>
                <div>Build Count</div>
                <div>{{user.builds.length}}</div>
            </div>
            <div>
                <div>Team Counts</div>
                <div>{{user.teams.length}}</div>
            </div>
            <div>
                <div>Post Count</div>
                <div>{{user.posts.length}}</div>
            </div>
            <div>
                <div>Comment Count</div>
                <div>{{user.comments.length}}</div>
            </div>
        </div>
    </div>
    <div class="bg-slate-500 row-span-2 grid grid-cols-5 items-center gap-2">
        <Button (click)="newBuild()" class="text-9xl border-2 border-white p-2">+</Button>
        <app-build-card (getBuilds)="getBuilds()" *ngFor="let build of builds" [builds]="build"></app-build-card>
    </div>
    <div class="bg-slate-700 row-span-2 grid grid-cols-5 items-center gap-2">
        <Button (click)="newTeam()" class="text-9xl border-2 border-white p-2">+</Button>
        <app-team-cards (getTeams)="getTeams()" *ngFor="let team of teams" [team]="team"
            [builds]="builds"></app-team-cards>
    </div>
</div>